{% extends 'base.html' %}
{% load static %}
{% block heading %}{{ recipe.name }} Details{% endblock %}
{% block content %}
	<h2>Ingredients for {{ recipe.name }}:</h2>
	<h3> Made by <i>{{ recipe.author }}</i></h3>
	<ul>
    		{% for recipe_ingredient in recipe_ingredients %}
      			 <li>{{ recipe_ingredient.quantity }} of {{ recipe_ingredient.ingredient.name }}</li>
		{% endfor %}
  	</ul>
	<h2>Images:</h2>
	<div class="recipe-images">
		{% for image in recipe_images %}
			<img src="{{ image.image.url }}" alt="{{ image.description }}">
		{% empty %}
			<p>No images available.</p>
		{% endfor %}
	</div>
	{% if user.is_authenticated %}
		<p><a href="{% url 'add_recipe_image' recipe.pk %}">Add an Image</a></p>
	{% endif %}
{% endblock %}

